/*main.css*/

/*
		<div class="klapp-controls">
			<form class="cluster-controls">
				<input type="range" name="input-circle" />
				<input type="range" name="input-level" />
				<input type="range" name="input-segment" />
			</form>>
		</div>

*/

body { 
	margin: 0;
	padding: 0; 
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1;
	overflow: hidden;
	background: #000;
}

canvas { width: 100%; height: 100%; }

#newWindow {
	display: block;
	position: absolute;
	bottom: 0.3em;
	left: 0.5em;
	color: #fff;
}

div.klapp-controls {
	position: absolute;
	right: 2em;
	top: 2em;
	text-align: left;
	background: #234;
	padding: 0 0.5em 0.8em 0.5em;
	max-width: 26em;
	/*opacity: 0.5;*/
}

div.klapp-controls label {
	padding-left: 1em;
	display: inline-block;
	font-size: 0.85em;
}

div.klapp-controls input {
	width: 140px;
	padding: 0;
	display: inline-block;
}

div.klapp-controls a:hover {
	font-weight: bold;
	color: #eee;
}

body * {
	color: #ccc;
	font-family: Arial, sans-serif;
}