body { 
	margin: 0;
	padding: 0; 
	/*font-family: 'inconsolata';*/
	font-size: 1em;
	line-height: 1;
	overflow: hidden;
}
canvas { width: 100%; height: 100%; }

@font-face {
	font-family: 'inconsolata';
	src: url('../files/inconsolata.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#newWindow {
	display: block;
	position: absolute;
	bottom: 0.3em;
	left: 0.5em;
	color: #fff;
}
